doctype html
html
  head
    title Hero Registration
  body
    h1 Hero Registration from PUG template
    form(action="/add-hero" method="post")
      label(for="title") Title:
      input(type="text" name="title" required)
      br
      label(for="firstName") First Name:
      input(type="text" name="firstName" required)
      br
      label(for="lastName") Last Name:
      input(type="text" name="lastName" required)
      br
      label(for="power") Power:
      input(type="text" name="power" required)
      br
      label(for="city") City:
      input(type="text" name="city" required)
      br
      button(type="submit") Submit
      

    