<!doctype html>
<html>
  <head>
    <title>Hero Registration</title>
  </head>
  <body>
    <h1>Hero Registration from EJS template</h1>
    <form action="/add-hero" method="post">
      <label for="title">Title:</label>
      <input type="text" name="title" required>
      <br>
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" required>
      <br>
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" required>
      <br>
      <label for="power">Power:</label>
      <input type="text" name="power" required>
      <br>
      <label for="city">City:</label>
      <input type="text" name="city" required>
      <br>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
